/*custom propiertys*/
:root{
    --verde: #00a149;
    --blanco: #fff;
    --rojo: #881014;
    --oscuro: #000;
    --titulos: "Arima Madurai", cursive;
    --parrafos: "Mulish", sans-serif;
}

/*respeta medida de cajas padre*/
html{
    box-sizing: border-box;
    /*reinicio 1rem 10px*/
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    overflow-x: hidden;
}
*,*::after,*::before{
    box-sizing: inherit;
}

/*globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
h1, h2{
    font-family: var(--titulos);
}
h3, p, a{
    font-family: var(--parrafos);
}
img{
    max-width: 100%;
}
.verde{
    color: var(--verde);
}
.rojo{
    color: var(--rojo);
}
.ocultar{
    display: none;
}
.btn-cerrar{
    font-size: 3rem;
    font-weight: bold;
    color: var(--blanco);
    position: absolute;
    top: 0;
    right: 50px;
    user-select: none;
}
.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 4; /*sobreposicion de elementos a mayor nro mas arriba*/
}
@keyframes desplazamiento{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.btn-cerrar:hover{
    cursor: pointer;
}
.btn{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 5rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
@media(min-width: 768px){
    .btn{
        font-size: 2.2rem;
    }
}
.bordes{
    border: 3px solid var(--blanco);
}
@media(min-width: 768px){
    .bordes{
        border: 4px solid var(--blanco);
    }
}
.bordes:hover{
    color: var(--verde);
    background-color: var(--blanco);
}
.btn-rojo{
    background-color: var(--rojo);
    font-weight: bold;
    display: inline-block; /*agrego esto para conservar inline del boton y asignar margen*/
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn-verde{
    background-color: var(--verde);
    border: none;
    display: inline-block;
    margin-bottom: 2rem;
    font-family: var(--parrafos);
}
.btn-verde:hover{
    background-color: var(--rojo);
}

/*encabezado*/
.contenedor-navegacion{
    background-color: var(--oscuro);
    position: relative;
    z-index: 5; /*sobreposicion de elementos a mayor nro mas arriba*/
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2, .navegacion a {
    color: var(--blanco);
}
.logo h2{
    font-size: 3rem;
}
.navegacion a{
    text-decoration: none;
    font-size: 2.2rem;
    padding: 1.5rem;
    padding-left: 4rem;
    display: block; /*se ponen items uno a bajo del otro*/
    transition: color .3s ease-in-out;
    text-align: center;
}
@media(min-width:768px){
    .navegacion a{
        text-align: left;
    }
}
.navegacion a:nth-child(even):hover{
    color: var(--rojo);
}
.navegacion a:nth-child(odd):hover{
    color: var(--verde);
}
.navegacion a:first-of-type{
    margin-top: 5rem;
}
.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 40rem;
    padding: 3rem 4rem;
    background-color: var(--oscuro);
    animation: desplazamiento .5s ease-in-out;
}
.hamburguesa:hover{
    cursor: pointer;
}
.hamburguesa span{
    background-color: var(--blanco);
    display: block; /*las tres lineas de span funcionan como bloque para editar*/
    width: 5rem;
    height: .5rem;
    margin-bottom: .5rem;
}


/*video*/
.contenido-header{
    position: relative;
}
.contenido-header::before{ /*pseudo elemento hijo de contenido-header*/
    content: "";
    position: absolute; /*nos permite posicionar en toda el area que abarca padre*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5); /*agrega transparencia sobre video*/
}
.texto-encabezado{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex; /*alinea de izq a derecha*/
    flex-direction: column; /*uno abajo del otro*/
    align-items: center; /*se invierte por la direccion column de flex*/
    justify-content: center;  /*se invierte por la direccion column de flex*/
}
.texto-encabezado h2{
    color: var(--blanco);
    font-size: 4rem;
}
@media(min-width: 768px){
    .texto-encabezado h2{
        font-size: 8rem;
    }
}
video{
    width: 100%;
    height: 100%;
}
/*alinear contenedor nosotros uno al lado del otro, texto e imagenes*/
.contenedor-nosotros{
    padding-top: 5rem;
}
@media(min-width: 768px){
    .contenedor-nosotros{
        display: flex;
        justify-content: space-between;
    }
}
.texto-nosotros, .imagenes-nosotros{
    flex: 0 0 calc(50% - 1rem);
}
.texto-nosotros .bienvenida{
    font-size: 4rem;
    color: var(--verde);
    text-align: center;
}
@media(min-width: 768px){
    .texto-nosotros .bienvenida{
        text-align: left;
    }
}
.texto-nosotros h1{
    font-size: 5rem;
    text-align: center;
}
@media(min-width: 768px){
    .texto-nosotros h1{
        text-align: left;
    }
}
.texto-nosotros p{
    font-size: 2rem;
    text-align: center;
}
@media(min-width: 768px){
    .texto-nosotros p{
        text-align: left;
    }
}
/*ahora las imagenes quiero que una ocupe 50% y las otras el restante*/
.imagenes-nosotros{
    display: flex;
    justify-content: space-between; /*separacion*/
}
.imagenes-nosotros img{
    border-radius: 5px;
}
.imagen1, .imagenes2{
    flex: 0 0 calc(50% - 1rem); /*defino con flex ni mas grande ni chico y calc 50% menos borde*/
}
.imagenes2 img{
    margin-bottom: 1rem;
}
.menu{
    padding-top: 4rem;
}
/*platillos*/
.texto-platillos{
    text-align: center;
    font-size: 5rem;
}
.botones-platillos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.botones-platillos button{
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem 3rem;
}
@media(min-width:768px){
    .botones-platillos{
        display: inline-block;
    }
    .botones-platillos button{
        flex: unset;
    }
}
@media(min-width: 768px){
    .platillos{
        display: flex;
        justify-content: space-between; /*agrego por el flex de .platillo"*/
        flex-wrap:wrap;
    }
}
.platillo{
    flex: 0 0 calc(33.3% - 1rem); /*100% de espacio  disponible lo divide en 3 con separacion de 1*/
    border: 1px solid #e1e1e1;
    padding: 2rem;
    border-radius: 5px;
}
.platillo h2{
    text-align: center;
}
.platillo p{
    font-size: 1.8rem;
}
.precio{
    display: flex;
    justify-content: space-between;
}
.precio p{
    font-weight: bold;
    font-size: 2rem;
}
.precio button{
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--rojo);
    color: var(--blanco);
    height: 3.8rem;
}
.separador{
    background-image: url(assets/ensalada.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
.separador::before{ /*agrego pseudo contenedor hijo de separador para difuminar*/
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}
.contenido-separador{
    padding: 5rem;
}
.contenido-separador h2{
    font-size: 4rem;
    color: var(--blanco);
    text-align: center;
}
@media(min-width:768px){
    .contenido-separador h2{
        text-align: left;
        font-size: 5rem;
        color: var(--blanco);
    }
}
.contenido-separador p{
    color: var(--blanco);
    font-size: 3rem;
    text-align: center;
}
@media(min-width:768px){
    .contenido-separador p{
        text-align: left;
    }
}
/*seccion del chef*/
.chef h2{
    background-color: var(--rojo);
    display: inline-block;
    padding: 1rem 3rem;
    color: var(--blanco);
    font-size: 4rem;
}
@media(min-width:768px){
    .contenido-chef{
        display: flex;
        justify-content: space-between;
    }
}
.texto-chef, .imagen-chef{
    flex: 0 0 calc(50% - 1rem);
}
.texto-chef h3{
    font-size: 3rem;
}
.texto-chef p{
    font-size: 2rem;
}