* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
}

a { /*enlaces decorador*/
    text-decoration: none;
}

.contenedor { /*defino clase contenedor*/
    width: 90%;
    max-width: 800px;
    margin: auto;
}

/*header*/
header {
    padding: 40px;
}

header .logo {
    text-align: center;
    margin-bottom: 40px;
}

header .logo p {
    color: #9B9B9B;
}

header form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header .barra-busqueda {
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}

header .categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

headers .categorias a {
    color: #9B9B9B;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}