<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="./assets/Logos proyecto/moss.png" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>ezequiel cerella</p>
        <p>full stack developper jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>acerca de mi</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate provident eum voluptatem! Sunt consequatur, similique iusto fugit nostrum, est explicabo veniam saepe, nobis facilis expedita dolore perferendis recusandae. Autem, voluptatem.</p>
        </span>
    </div>
</div>
