/* resetear los estilos por las dudas */
*{ 
    margin: 0;
    padding: 0;
}

/*interesante freefrontend.com/css-background-patterns para el fondo*/
body {
    background: 
          radial-gradient(black 3px, transparent 4px),
          radial-gradient(black 3px, transparent 4px),
          linear-gradient(#fff 4px, transparent 0),
          linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
          linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
        #fff;
        background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
        background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
        /*fuente manjari google fonts (codigo css)*/
        font-family: 'Manjari', sans-serif;
      }

      /*header estilizado*/
      .title h1{
        padding: 20px 0;
        text-align: center;
        font-size: 2.9em;
        text-transform: uppercase;
      }

/* crear marco blanco que contiene todos los elementos */
.container{
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid; /*organizador de elementos del contenedor*/
    gap: 1.6em; /*separacion entre contenedores*/
    grid-template-columns:  repeat(5, 1fr); /*columnas para cont*/
}

/*aplico estilo a todos  los items del container*/
.container >.header,
.container >.content,
.container >.footer,
.container >.sidebar,
.container >.div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
}

/*ordenamos header y footer que son de 5 columnas*/
.container .header,
.container .footer {
    grid-column: 1/6; /*lineas verticales de la grilla de la 1 a la 6*/
    background: #03131f;
    color: #ffffff;
}

.container > .content{
    grid-column: span 3; /*span abarca 3 columnas*/
}

.content > .article {
    background: #808e9b;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
}

.content .article h1,
.content .article p {
    padding: 10px;
}

.container > .sidebar{
    grid-column: span 2; /*span abarca 2 columnas*/
    background: #485460;
    color: #ffffff;
    display: flex; /*clase flexbox para centrar contenido*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .sidebar img{ /*centrando y separando imagenes*/
    width: 100%;
    margin-top: 5px;
}

/*retocando las notas relacionadas del pie*/
.container > .related-post{
    background: #2d3436;
    color: #ffffff;
    height: 180px;
    display: flex; /*clase flexbox para centrar contenido*/
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease; /*mejora la animacion*/
}

.container > .related-post:hover { /*efecto de cambio al pasar cursor*/
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}

/*convirtiendo el sitio a responsive w3schools.com/css/css_rwd_mediaquerries.asp*/
@media screen and (max-width: 768px) {
    /*o sea en 768px como quiero que se vea el armado*/
    /*el logo esta bien. article quiero al 100%. sidebar pasa a bajo,
    y los relacionados uno debajo del otro*/
    .header{
        text-align: center;
    }
    .container .content{
        grid-column: 1/-1; /* 1/-1 seria abarca todo el ancho posible*/
    }
    .container .sidebar{
        grid-column: 1/-1;
    }
    .container .related-post{
        grid-column: 1/-1;
    }
}